 
 h1 {
    margin:10px;
 }

 h4 {
    margin:10px;
 }

 h5 {
    margin:10px;
 }

 a {
     font-size: 0.8em;
     font-weight:400;
 }

 span { 
    color:#b319e7;
    font-size: 1.0rem;
    font-weight:bold;
 }